.screen{
    width: 320px;
    height: 568px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #80ED99;
    width: 62px;
    height: 568px;

}

.greeting{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.navButton{
    height: 50px;
    width: 50px;
    background-color: #61D5EE;
    border-radius: 10px;
    border: none;
    font-size: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}